* {
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #005b0c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
    border-left: 5px solid #003c08;
}

header a, p, h1 {
    color: white
}

h1 {
    margin: 0; 
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
   display: inline-block;
}

header nav ul li a {
    display: block;
    text-align: center;
    padding: 10px 20px; 
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #ffffff22;
}

#grammarInputForm {
    margin-bottom: 30px;
}

#grammarInputForm label {
    margin-bottom: 5px;
}

#grammarInputForm div {
    display: flex;
    flex-direction: column;
    width: 50%;
}


#grammarInputForm input {
    
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid black;
    transition: all 0.3s ease;
    line-height: 2em;
    
}

#grammarInputForm textarea {
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid black;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    resize: vertical;
    line-height: 1.5em;


}


#submit, #check{
    background-color: #005b0c;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    margin-left: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
}

#submit:hover, #check:hover{
    background-color: #ffffff;
    color: black;
}

#grammarInputForm input:focus, #grammarInputForm textarea:focus{
    box-shadow: 0 0 3pt 2pt #005b0c;;
    outline: none;
    
}

#drawingArea {
    background-color: beige;
    border-style: solid;
    cursor:crosshair;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#drawingArea button {
    
    margin-left: 5px;
    padding: 12px 20px;
    color: white;
    background-color: #005b0c;
    border-radius: 5px;
    border: 2px solid gray;
    transition: all 0.3s ease;
}

#drawingArea button:hover {
    color: black;
    background-color: white;
}

.nav_bar {
    margin-bottom: 50px;
    width: 100%;
    text-align: left;
    background-color: #ffffff;;
    padding: 0;
    border-left: 5px solid #003c08;
    
}

.nav_bar ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: flex-start;
    height: 15px;


}

.nav_bar ul li {
    
    padding-right: 0px;
    
    
}

.nav_bar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    background-color: #005b0c;
    padding: 16px 15px 13px 15px;
    
    
    
}

.nav_bar ul li a:hover {
    color: black;
    background-color: white;
    
}

.nav_bar ul li a.active {
    color:black;
    background-color: white;
}

#drawingArea ::selection {
    color: transparent;
    background-color: transparent;
}

#type {
    padding: 12px 20px;
    margin-left: 20px;
    color: white;
    background-color:#005b0c;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
}

#exampleButton {
    padding: 12px 20px;
    margin-bottom: 40px;
    color: white;
    background-color:#005b0c;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
}

#exampleButton:hover {
    color:black;
    background-color: #ffffff;
}

#exampleGraphButton {
    padding: 12px 20px;
    margin-bottom: 40px;
    color: white;
    background-color:#005b0c;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
}

#exampleGraphButton:hover {
    color:black;
    background-color: #ffffff;
}

#clear {
    padding: 12px 20px;
    margin-left: 20px;
    color: white;
    background-color:rgb(174, 17, 17);
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
}

#clear:hover {
    color:black;
    background-color: rgb(255, 188, 188);
}

#createState, #createTransition, #markEnd, #delete {
    background-color: white;
    padding: 12px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
}

#createState:hover, #createTransition:hover, #markEnd:hover, #delete:hover {
    color: white;
    background-color: rgba(0, 128, 0, 0.5);
}

#convertedGrammar {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    background-color: beige;
}
#convertedGrammar span {
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    line-height: 2;   
    text-align: left;
}


#productionsOutput, #productionsLabel {
    display: flex;
    justify-content:start;
}





#screenshot, #copy, #paste {
    background-color: #005b0c;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    margin-left: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
}

#screenshot:hover, #copy:hover, #paste:hover {
    color:black;
    background-color: white;
}

#WCoutput {
    display:flex;
    flex-direction: column;
}

#WCoutput span {
    margin-top: 20px;
    font-size: 20px;
}

#generateWordsButton {
    display: none;
    padding: 12px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    background-color:#005b0c;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
}

#generateWordsButton:hover {
    color:black;
    background-color: white;
}
